AlgorithmIdentifier null parameters

While researching some PSS behaviors I discovered that LibreSSL omits the `NULL` parameters on the hash function algorithm identifiers. However, [RFC 4055 section 2.1](https://www.rfc-editor.org/rfc/rfc4055#section-2.1) states `All implementations MUST accept both NULL and absent parameters as legal and equivalent encodings.`, but makes another apparently conflicting statement right after that.

Confusing statements in the RFC notwithstanding, should we allow parsing `Option<asn1::Null>` on these `AlgorithmIdentifier` parameters?