OCSP: Value of Nonce extension should be encapsulated in OCTET STRING

When using the Nonce extension for OCSP, the extension's value should be encapsulated in an additional `OCTET STRING`. That is not the case for OCSP requests generated using Cryptography with `OCSPNonce`. Presumably, the same applies for OCSP *responses* using the `OCSPNonce` extension.

Consider code like the following:

```
builder = ocsp.OCSPRequestBuilder()
builder = builder.add_certificate(cert, issuer, SHA256())
nonce = x509.OCSPNonce(secrets.token_bytes(16))
builder = builder.add_extension(nonce, False)
req = builder.build()
```

The generated ASN.1 structure for the extension looks like this:

```
  0  29: SEQUENCE {
  2   9:   OBJECT IDENTIFIER ocspNonce (1 3 6 1 5 5 7 48 1 2)
 13  16:   OCTET STRING <16 random bytes>
       :   }
```

Whereas when generating OCSP requests using the OpenSSL command line (`openssl ocsp -nonce`), the respective structure looks like this:

```
  0  31: SEQUENCE {
  2   9:   OBJECT IDENTIFIER ocspNonce (1 3 6 1 5 5 7 48 1 2)
 13  18:   OCTET STRING, encapsulates {
 15  16:     OCTET STRING <16 random bytes>
       :     }
       :   }
```

This at least leads to errors when dissecting the request using Wireshark ("Malformed Packet" or "BER Error: OctetString expected but class:CONTEXT(2) Constructed tag:6 was unexpected"). The OCSP server implementation I tested (EJBCA) appears to handle both variants fine, on the other hand.

[Section 2.2 of RFC 6961](https://datatracker.ietf.org/doc/html/rfc6961#section-2.2) states that:

> In the case of the "id-pkix-ocsp-nonce" OCSP extension, [RFC2560] is unclear about its encoding; for clarification, the nonce MUST be a DER-encoded OCTET STRING, which is encapsulated as another OCTET STRING (note that implementations based on an existing OCSP client will need to be checked for conformance to this requirement).  This has been clarified in [RFC6960].

But, for what it's worth, I cannot find such definite clarification in [RFC 6960](https://datatracker.ietf.org/doc/html/rfc6960).

Other people [provide](http://webcache.googleusercontent.com/search?q=cache:https://ec.europa.eu/cefdigital/tracker/si/jira.issueviews:issue-html/DSS-1114/DSS-1114.html) the following reasoning for the same conclusion:

> In an OCSP request, the nonce value must be doubly encoded as an OCTET STRING. Note the description of `Extension.extnValue` in [RFC 5280 section 4.1](https://tools.ietf.org/html/rfc5280#section-4.1): "*contains the DER encoding of an ASN.1 value corresponding to the extension type identified by extnID*". In the case of the Nonce extension, whose value also is of type OCTET STRING ([RFC 6960 section 4.4.1](https://tools.ietf.org/html/rfc6960#section-4.4.1)), this means that `extnValue` must be an OCTET STRING whose value is itself the DER encoding of an OCTET STRING.

So, I'm not certain if Cryptography's implementation is indisputably wrong, but the encapsulated variant seems far more common and better supported overall.

For the record, this was identified using Python 3.9.7 and Cryptography 35.0.0 on macOS.

I think awful hybrid might be the right answer here. Supporting parse of both the octet string and non-octet wrapped model seems like it's the least terrible of a bunch of bad options. I'd be fine with switching to only generate with octet string though, especially as our current behavior appears to be in conflict with OpenSSL's behavior since 0.9.7d (see: https://github.com/openssl/openssl/blob/09d91264c8ee1fdfcbe41f326a96a21cd85eb732/crypto/ocsp/ocsp_ext.c#L239-L241)

I took a look at our pre-rust code for this and we weren't using `add1_nonce` so we've always failed to generate the OCTET STRING wrapper here.

I still think the proper path here is probably to add it since OpenSSL does (and evidently wireshark expects it).