1.1.0 Features To Add

- [ ] X25519 (#3590)
- [ ] OCB
- ~~ChaCha20~~
- [ ] ChaCha20+Poly1305 (RFC 7539 AEAD construct)
- [x] scrypt (#3117)
- [x] BLAKE2 (#3116)
- ~~Poly1305~~


Okay, so as noted by David Benjamin poly1305 intentionally isn't separately exposed by OpenSSL. Accordingly, we can't expose it as a standalone MAC, but rather only as part of the RFC 7539 AEAD construct. I've modified the list to reflect this.

Just a note so there isn't any duplication of efforts. I have WIP code going for both scrypt and blake2. I'll open up PRs once the other 1.1.0 stuff (mainly #2826) lands.

I've actually got all the blake2 code sitting around already. The open question is how much of the blake2 API do we want to have locked behind NotImplementedError for now.

scrypt I'll happily let you take :)

I think we shouldn't land anything that depends on 1.1.0 features until
1.1.0 is out and in our CI. Feel free to send all the PRs you want though,
we can use those as the place to discuss the API.

On Sat, Jun 11, 2016 at 12:11 PM, Paul Kehrer <notifications@github.com>
wrote:

> I've actually got all the blake2 code sitting around already. The open
> question is how much of the blake2 API do we want to have locked behind
> NotImplementedError for now.
>
> scrypt I'll happily let you take :)
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/pyca/cryptography/issues/2968#issuecomment-225372165>,
> or mute the thread
> <https://github.com/notifications/unsubscribe/AAADBMPGqWEr7xFGTozj5K3oMXsQtRtTks5qKt5GgaJpZM4IuObs>
> .
>



-- 
"I disapprove of what you say, but I will defend to the death your right to
say it." -- Evelyn Beatrice Hall (summarizing Voltaire)
"The people's good is the highest law." -- Cicero
GPG Key fingerprint: D1B3 ADC0 E023 8CA6


@reaperhulk Ah cool. :)

@alex Yeah, no arguments there.

Is there any plan to add support for CCM encryption mode?

I've been working on a TLS implementation for scapy (https://github.com/secdev/scapy). Up to now I've been using pycrypto, which offers CCM support but only when building out of the source repository. And we're planning on switching to cryptography.

Along with ChaCha20+Poly1305, I believe CCM would be a really valuable addition to the project. It would enable python users to cover every cipher suite specified for TLS 1.3.

We've talked a bit in the past about CCM https://github.com/pyca/cryptography/issues/1141#issuecomment-46695594. The primary issue is the length prefixing requiring you to know the length of your data before encrypting. Our current APIs assume a streaming interface (which was a design mistake for AEAD modes but that's what we have for now). If we build a "one shot" AEAD API (provide entire payload, get back encrypted blob, no streaming) then we can talk about whether CCM should be supported.

Thanks for pointing out the issue. Indeed adding CCM support entails some work more convoluted than I expected. For now, I think that we'd be better off using pycryptodome (a fork from pycrypto), as it provides the AEAD modes we need, among other things. Hopefully we could switch to cryptography for a later release.

Okay, AEAD API proposal time...

To encrypt:
```
encrypt(plaintext, additional_data, AEADAlgorithm(*args)) -> (ciphertext, tag)
```
To decrypt:
```
decrypt(ciphertext, additional_data, AEADAlgorithm(*args), tag) -> plaintext or exception
```

Where `AEADAlgorithm` is an interface attached classes that instantiate like:

* `ChaCha20Poly1305(key)` 
* `AESOCB(key, nonce)`
* `AESGCM(key, iv)`

This closely mimics the low level AEAD API that [BoringSSL implements](https://boringssl.googlesource.com/boringssl/+/2272/include/openssl/aead.h#208).

This has the virtue of not being exposing unauthenticated plaintext in any situation, so it's generally a superior API to our current streaming API (which only supports AEAD via GCM anyway). We would probably want to update our docs to discourage the use of our streaming interface and steer users toward the AEAD API where possible (and of course Fernet if they can).

## Disadvantages
The creation of a new interface that combines cipher + mode (or cipher + MAC in the case of chacha20poly1305) is a shift from our current cipher interface that emphasizes composability.

Additionally, this would be a hazmat API as it has no protection against nonce/iv misuse nor does it specify an output format (unlike Fernet).

Oh, forgot to mention that an AEAD API would allow us to support `CCM`, which we have a user request for above :)

Does this mean that `encrypt()` and `decrypt()` are functions instead of methods attached to a class? I don't see what that buys us over something like

```python
ChaCha20Poly1305(key).encrypt(plaintext, additional_data)
```

I don't have a strong opinion on the difference between the two, except that in `cryptography` our APIs have tended to favor first class functions over methods on objects that don't need to store state.

Also, to open up another option for discussion, when designing the API for https://github.com/Ayrx/python-aead I opted to append the `tag` to the ciphertext instead of returning them seperately which is better for something designed to be Fernet like but can be considered for the hazmat layer as well.

I've got AEAD for AsyncSSH implemented on top of PyCA today. The exact details of how the IV and additional data are managed in this case is described in RFC 5647. Here's the code I wrote on top of the existing PyCA API to implement that:

```python
class GCMShim:
    """Shim for PyCA AES-GCM ciphers"""

    def __init__(self, cipher, block_size, key, iv):
        self._cipher = cipher
        self._key = key
        self._iv = iv

        self.block_size = block_size

    def _update_iv(self):
        """Update the IV after each encrypt/decrypt operation"""

        invocation = int.from_bytes(self._iv[4:], 'big')
        invocation = (invocation + 1) & 0xffffffffffffffff
        self._iv = self._iv[:4] + invocation.to_bytes(8, 'big')

    def encrypt_and_sign(self, header, data):
        """Encrypt and sign a block of data"""

        encryptor = Cipher(self._cipher(self._key), GCM(self._iv),
                           default_backend()).encryptor()

        if header:
            encryptor.authenticate_additional_data(header)

        ciphertext = encryptor.update(data) + encryptor.finalize()

        self._update_iv()

        return ciphertext, encryptor.tag

    def verify_and_decrypt(self, header, data, tag):
        """Verify the signature of and decrypt a block of data"""

        decryptor = Cipher(self._cipher(self._key), GCM(self._iv, tag),
                           default_backend()).decryptor()

        if header:
            decryptor.authenticate_additional_data(header)

        try:
            plaintext = decryptor.update(data) + decryptor.finalize()
        except InvalidTag:
            plaintext = None

        self._update_iv()

        return plaintext
```

If you are looking to create a one-shot API for this, that sounds great, but why not keep it similar to what exists there today when creating the encryptor/decryptor and go with:

```
    encrypt(plaintext, additional_data, AES(key), GCM(iv), backend) -> (ciphertext, tag)
```

and

```
    decrypt(ciphertext, additional_data, AES(key), GCM(iv, tag), backend) -> plaintext or exception
```

What does `ChaCha20Poly1305` look like with cipher and mode/mac separated? Do we create an algorithm that we just call `ChaCha20Poly1305` and pass `None` for mode or do we pass `Poly1305()` for mode even though it isn't a mode?

Hmm, good point. I'm supporting Chacha20Poly1305 in AsyncSSH as well, but I'm using the libnacl implementation of it right now, and so I have a different shim for that.

There's another complication in the Chacha case as well. In addition to passing in the plaintext and additional_data, it was necessary to pass in a nonce and counter value, though I guess those could be arguments to something like a Chacha20Poly1305() object along with the key.

Glad to hear a generic AEAD support is back on the table. I did the TLS PR to scapy but I'll update my code as soon as GCM and CCM will be completed.

Hello all, (and @reaperhulk )
Any news on supporting CCM and ChaCha20 ?
We're currently quite much in need of those features, an we would like to avoid changing to pycryptodome, as cryptography is definatly a great and active project... 

No one's really asking for that kind of features, but it would be really cool if you could consider workings on it 😄 
Thanks for reading

ChaCha20 itself or ChaCha20Poly1305 as specified by RFC 7539? The latter I may try to do for the next release -- but just to be clear, it will only be available if you're on OpenSSL 1.1.0+, which is basically nobody on Linux at this time...

I meant ChaCha20Poly1305.

CCM would come after. If we implement per-construct AEAD interfaces instead of trying to build a generic one then CCM (hopefully) becomes an easier problem.

Thanks a lot !

Okay, I've been looking at ChaCha20Poly1305 again and OpenSSL's EVP layer doesn't actually try to build the construction specified in [RFC 7539 Section 2.8](https://tools.ietf.org/html/rfc7539#section-2.8) so we'll have to implement that part ourselves.

I'm going to go ahead and close this issue and open separate ones for ChaCha and CCM (yuck). OCB is off the table until someone provides a use case. refs #3667

I heard good things about OCB, faster than GCM, no patent issue any more for opensource projects.

GCM otoh seems to cause bad feelings for cryptographers, they consider it a fragile construction.

Recently the was some breakage for OCB2 though - but guess this does not affect OCB(1), right?

OCB1 and 3 are not affected by the OCB2 break. OpenSSL implements OCB3. There is no hardware acceleration for OCB outside of the core AES acceleration, although it is a fast and elegant construction in general.

Unfortunately, OCB still has some patent considerations (grant here: https://wiki.openssl.org/images/6/66/OCB-patent-grant-OpenSSL.pdf). That should clear our users, but I'm not a huge fan of having this complexity hidden in a random mode we implement.

I use another project (`pproxy`) which is starting to use `asyncssh` and `pycryptodome` as dependencies. Can you accept any of `pycrypto` or `pycryptodome` as a requirement for `asyncssh`? 

`pycrypto` and `pycryptodome` conflict with each other so right now there's no way for me to use `pproxy`