Names of cryptography.x509.RelativeDistinguishedName in random order ?

The names of the RelativeDistinguisedNames attribute or CRL distribution points are returned in random order.

When printing the RelativeDistinguishedName object, in some executions I get:
`<RelativeDistinguishedName(O=Company+CN=CRL DP)>`
in other executions I get:
`<RelativeDistinguishedName(CN=CRL DP+O=Company)>`


To reproduce, execute this code several times:

```
from cryptography import x509
from cryptography.x509.oid import ExtensionOID

cert = x509.load_der_x509_certificate(b'0\x82\x08\x020\x82\x06j\xa0\x03\x02\x01\x02\x02\x14<B\xd1\xf8I"\xa2%\xf34\xc3\xce\xa4\x96\xcc=j\x99\x08\x0c0\r\x06\t*\x86H\x86\xf7\r\x01\x01\x0b\x05\x000\'1\x100\x0e\x06\x03U\x04\n\x0c\x07Company1\x130\x11\x06\x03U\x04\x03\x0c\nExample CA0\x1e\x17\r230515181039Z\x17\r330428142039Z0=1\x0b0\t\x06\x03U\x04\x06\x13\x02FR1\x100\x0e\x06\x03U\x04\n\x0c\x07Company1\r0\x0b\x06\x03U\x04\x0b\x0c\x04Unit1\r0\x0b\x06\x03U\x04\x03\x0c\x04user0\x82\x01\xa20\r\x06\t*\x86H\x86\xf7\r\x01\x01\x01\x05\x00\x03\x82\x01\x8f\x000\x82\x01\x8a\x02\x82\x01\x81\x00\xcb\xca\xad\xb63\xee\x7f\x92\xe1\xd2\t\xc7\xfc<*\xda\x1f\xbd\x06z\xc0\xb0c.g\xcd\x96\xfdY\'][t\xbc#\xc7P\xb8\xdb\xb1\xbb\xd2&*L\xda\xf2\xa2a\xfa\xe2\xb1\x9b\xe7\x9eP\xe8D\x1e\x97\x83\x01\x1c\xeaj\x8a\x1b\xe1\xe2\xf5\\\x9bD;\xa76iITk*(\xcc\xeeOL\x8d\xd0\x1b\xb5t\x1a\x82D\x99\xca\xd9DCe\'\x9e\xd7\xa6\xf5%x\x04\x9d&\xd9{5\xfa<\x9e\xf3\x89\xe5\xbd\xbcVB\x0c3ZK}N\x181C\xed\x99\x9c\x8f:\x94\xe8\x80`\xab\xa8Bb\x7f\x1c+z\xb9_\xea\x89\x1b\xea3\x05\xbd\xc3\x84\x14WW\x08\xf8\xfb\xc0b\x86\x05[g\x86u\xc2U\x8c\xaf\x96\xf4\xaa\x92\xf3\x9f\xc2\x8f\x9d\x8dp\xf4\x90\x1c\xa2\x1f\x15\xae\x7fQ\x8f\x03>\xfaz\xc2.\xdb\x0c[\xe1\xae:\xea%c\x9d\xb0\xee\xcc\xd9vib\xaf\x9e\xf2r~W\x10\xe7\xa96\xaa\xd1\xa4*Hf\xeb\xaf\n\xffVg\xcf_\x9c\xc1\xca3\x10\xb4\x88\xc5L\xf1\xd3){\x8b\x9a\x92\xdc\x18\x8eHb\x80\x9b\xa8>\x15c\x04\xe4\xa2>\x84x\x7f6\xedtW\xdd\x9b\x14\xb8&\x1f\xee\x89\x11\xc2#\xf4\x0b\xc5\xa8M){H\xdc\xf9\xf1\x86/\xfd\xc9\xcc\xee\x1bBJ\x92\x86 )V\xde\xf9\x06*E\xa5\x83R\xc9\xff+\xc55D\xb9c\xf1m\xf3\xe6\x94\x81 F9j`\x02\xcc\xb1\x86\x03"\x97\xe3\xfe\xd4\x07NK:\xcf\xd2)\nJl\x1b~\x05\xc9\xeb#\xf7Bs\xf7\xacx\x18ks\x8fa\x02\x03\x01\x00\x01\xa3\x82\x04\x0e0\x82\x04\n0\x1d\x06\x03U\x1d\x0e\x04\x16\x04\x14\xa45\x98mtQ8WZ~MP\xde\x8fL$\xed\xaa\xa8\xe60\x1f\x06\x03U\x1d#\x04\x180\x16\x80\x14\xc6\xfd\xf8\xc3\x0c\xf7$"Lg\xf5D\x9f;Y\x9a7S\xefV0\x0b\x06\x03U\x1d\x0f\x04\x04\x03\x02\x07\x800\x16\x06\x03U\x1d%\x01\x01\xff\x04\x0c0\n\x06\x08+\x06\x01\x05\x05\x07\x03\x030{\x06\x03U\x1d\x1f\x04t0r0\x1a\xa0\x18\xa0\x16\x86\x14http://localhost/crl0/\xa0-\xa0+\xa4)0\'1\x100\x0e\x06\x03U\x04\n\x0c\x07Company1\x130\x11\x06\x03U\x04\x03\x0c\nExample CA0#\xa0!\xa1\x1f0\r\x06\x03U\x04\x03\x0c\x06CRL DP0\x0e\x06\x03U\x04\n\x0c\x07Company0\x7f\x06\x03U\x1d.\x04x0v0\x1c\xa0\x1a\xa0\x18\x86\x16http://localhost/delta0/\xa0-\xa0+\xa4)0\'1\x100\x0e\x06\x03U\x04\n\x0c\x07Company1\x130\x11\x06\x03U\x04\x03\x0c\nExample CA0%\xa0#\xa1!0\x0e\x06\x03U\x04\n\x0c\x07Company0\x0f\x06\x03U\x04\x03\x0c\x08Delta DP0\x81\xfd\x06\x03U\x1d\x11\x04\x81\xf50\x81\xf2\x82\x0fwww.example.com\x87\x04\x7f\x00\x00\x01\x86\x16http://www.example.com\x88\x03*\x03\x04\x81\x11email@example.com\xa0\x1f\x06\n+\x06\x01\x04\x01\x827\x14\x02\x03\xa0\x11\x0c\x0fupn@example.com\xa4<0:1\x140\x12\x06\n\t\x92&\x89\x93\xf2,d\x01\x19\x16\x04LDAP1\x100\x0e\x06\x03U\x04\n\x0c\x07Example1\x100\x0e\x06\x03U\x04\x03\x0c\x07machine\xa0\x1f\x06\t+\x06\x01\x04\x01\x827\x19\x01\xa0\x12\x04\x10\xacK)\x06\xaa\xd6]O\xa9\x9cL\xbc\xb0je\xd9\xa0)\x06\x08+\x06\x01\x05\x05\x07\x08\t\xa0\x1d\x0c\x1bsmtpUTF8Mailbox@example.com0\x1c\x06\x03U\x1d\x12\x04\x150\x13\x81\x11admin@example.com0\x81\xf3\x06\x03U\x1d \x04\x81\xeb0\x81\xe80\x0e\x06\x0c+\x06\x01\x04\x01\xb0-\x05\x01\x01\x01\x000S\x06\x0c+\x06\x01\x04\x01\xb0-\x05\x01\x01\x01\x010C0 \x06\x08+\x06\x01\x05\x05\x07\x02\x01\x16\x14http://localhost/csp0\x1f\x06\x08+\x06\x01\x05\x05\x07\x02\x020\x130\x0b\x0c\x04org10\x03\x02\x01\x01\x0c\x04txt10.\x06\x0c+\x06\x01\x04\x01\xb0-\x05\x01\x01\x01\x020\x1e0\x1c\x06\x08+\x06\x01\x05\x05\x07\x02\x020\x100\x08\x0c\x04org20\x00\x0c\x04txt20$\x06\x0c+\x06\x01\x04\x01\xb0-\x05\x01\x01\x01\x030\x140\x12\x06\x08+\x06\x01\x05\x05\x07\x02\x020\x06\x0c\x04txt30+\x06\x0c+\x06\x01\x04\x01\xb0-\x05\x01\x01\x01\x040\x1b0\x19\x06\x08+\x06\x01\x05\x05\x07\x02\x020\r0\x0b\x0c\x04org40\x03\x02\x01\x040\x12\x06\t+\x06\x01\x05\x05\x070\x01\x05\x01\x01\xff\x04\x02\x05\x000)\x06\t+\x06\x01\x04\x01\x827\x19\x02\x04\x1c0\x1a\xa0\x18\x06\n+\x06\x01\x04\x01\x827\x19\x02\x01\xa0\n\x04\x08S-1-5-470R\x06\x08+\x06\x01\x05\x05\x07\x01\x01\x04F0D0!\x06\x08+\x06\x01\x05\x05\x070\x01\x86\x15http://localhost/ocsp0\x1f\x06\x08+\x06\x01\x05\x05\x070\x02\x86\x13http://localhost/ca0\r\x06\t*\x86H\x86\xf7\r\x01\x01\x0b\x05\x00\x03\x82\x01\x81\x00\x81\x1e>\x8b\xad\xde/\xf6\x06H\xe7\xe4\x18sYT\x96\xe7\xb3\xb5\x1d\x87\xcd\x96\x8b\x04`\x02\r\xca\xd6_s\x1b\x18\xc2U\x03^\xbd\xc6\x83\x16y?\xd9oY1\x99Tvm\xe0\xfd\xa4\xb3\xa1HP=\xe4,\xee\xe8-\xd3\x9bP`\xa6\xa5\x99\x11\xe0e\xe9\xa1\xc4\xbd\xf3t\x90(9\x8c\xb2J\xb9\xb0\xf0\xf0\xed\xfb\xf4}S%\xccUE\x97tj\xcd8F\x8e\xf4\x14\xb3\x04\xd3D\'\'\x0f\xe1\x82T\xd9\r\x88Y12e\xff\xac\xdf&\x01hZ\xfa\\@\xb6C:\xcc\xc5\xc4\xff\x7f\x94\xfb\xd9lM\x964\x95\x03<\x14\xc2\xf5\xa0\xbe\xf5\x86\xb3Xl\xe7\x02\xffW\x1b\xae\n\x9a\xac\x8a\xe2\x9bt\x9a\x98\xe5\xbd\x82\xb41\xbf1\xf6\xd6\x0b\xd8\xee\xc8A)$\xcf\x063U\x19\xe47\x1e@\xf4M\x83\xc6\xf9\xfc\x1e\xbd\x04"0M\xb8\xaa\x19\xf8\xaf\xee\xe7\x87\x07\xef\\\x8ee\xf8{;\xcf\xb1\r\xf4%\xda\xf2\xb4z\xdd\xad\xd7\x1f\xe9\xaaD\xf9\xe2\xe7n\x05P\x0e.\t\xf0\xcd\x9c{\x9c\xe1\xac\xf8\r\xb9n\xe4\x94\xf7\x13\xee\x9f9\x12\xe7y\xa7\xa7\xe3b\xf9b}K\x1a\xaf\x94\x8d<\'\x0f\x020\xf6\xe8\xcf\xa8k\x8a\xef\x0c-X\xc4jyU\xb2K\xe1~\xe6\xf7\x9d}g\xfesQS\xa7@\xe3\xbe\x8duH\xf6.\xc9\xb3L\xa0\xb0\x01\xcfl\xfd\xb0|&\x87\xfdA\n\xdf\xf1N\xde\xc6\x80\x94\x94`\x8aF\xef\x87\xf2\x00qX:x\xf9\xb5\xe1\xae\xc7\xcc9\xb5\xad\xa4\x95Y<fq\x965')
ext = cert.extensions.get_extension_for_oid(ExtensionOID.CRL_DISTRIBUTION_POINTS).value
for e in ext:
    if e.relative_name is not None:
        print(e.relative_name)
```

It looks like internally we temporarily store RDN in a set (see common.rs
line 241). @reaperhulk could that be a list?

On Mon, May 15, 2023, 4:09 PM Harmin Parra Rueda ***@***.***>
wrote:

> The names of the RelativeDistinguisedNames attribute or CRL distribution
> points are returned in random order.
>
> When printing the RelativeDistinguishedName object, in some executions I
> get:
> <RelativeDistinguishedName(O=Company+CN=CRL DP)>
> in other executions I get:
> <RelativeDistinguishedName(CN=CRL DP+O=Company)>
>
> To reproduce, execute this code several times:
>
> from cryptography import x509
> from cryptography.x509.oid import ExtensionOID
>
> cert = x509.load_der_x509_certificate(b'0\x82\x08\x020\x82\x06j\xa0\x03\x02\x01\x02\x02\x14<B\xd1\xf8I"\xa2%\xf34\xc3\xce\xa4\x96\xcc=j\x99\x08\x0c0\r\x06\t*\x86H\x86\xf7\r\x01\x01\x0b\x05\x000\'1\x100\x0e\x06\x03U\x04\n\x0c\x07Company1\x130\x11\x06\x03U\x04\x03\x0c\nExample CA0\x1e\x17\r230515181039Z\x17\r330428142039Z0=1\x0b0\t\x06\x03U\x04\x06\x13\x02FR1\x100\x0e\x06\x03U\x04\n\x0c\x07Company1\r0\x0b\x06\x03U\x04\x0b\x0c\x04Unit1\r0\x0b\x06\x03U\x04\x03\x0c\x04user0\x82\x01\xa20\r\x06\t*\x86H\x86\xf7\r\x01\x01\x01\x05\x00\x03\x82\x01\x8f\x000\x82\x01\x8a\x02\x82\x01\x81\x00\xcb\xca\xad\xb63\xee\x7f\x92\xe1\xd2\t\xc7\xfc<*\xda\x1f\xbd\x06z\xc0\xb0c.g\xcd\x96\xfdY\'][t\xbc#\xc7P\xb8\xdb\xb1\xbb\xd2&*L\xda\xf2\xa2a\xfa\xe2\xb1\x9b\xe7\x9eP\xe8D\x1e\x97\x83\x01\x1c\xeaj\x8a\x1b\xe1\xe2\xf5\\\x9bD;\xa76iITk*(\xcc\xeeOL\x8d\xd0\x1b\xb5t\x1a\x82D\x99\xca\xd9DCe\'\x9e\xd7\xa6\xf5%x\x04\x9d&\xd9{5\xfa<\x9e\xf3\x89\xe5\xbd\xbcVB\x0c3ZK}N\x181C\xed\x99\x9c\x8f:\x94\xe8\x80`\xab\xa8Bb\x7f\x1c+z\xb9_\xea\x89\x1b\xea3\x05\xbd\xc3\x84\x14WW\x08\xf8\xfb\xc0b\x86\x05[g\x86u\xc2U\x8c\xaf\x96\xf4\xaa\x92\xf3\x9f\xc2\x8f\x9d\x8dp\xf4\x90\x1c\xa2\x1f\x15\xae\x7fQ\x8f\x03>\xfaz\xc2.\xdb\x0c[\xe1\xae:\xea%c\x9d\xb0\xee\xcc\xd9vib\xaf\x9e\xf2r~W\x10\xe7\xa96\xaa\xd1\xa4*Hf\xeb\xaf\n\xffVg\xcf_\x9c\xc1\xca3\x10\xb4\x88\xc5L\xf1\xd3){\x8b\x9a\x92\xdc\x18\x8eHb\x80\x9b\xa8>\x15c\x04\xe4\xa2>\x84x\x7f6\xedtW\xdd\x9b\x14\xb8&\x1f\xee\x89\x11\xc2#\xf4\x0b\xc5\xa8M){H\xdc\xf9\xf1\x86/\xfd\xc9\xcc\xee\x1bBJ\x92\x86 )V\xde\xf9\x06*E\xa5\x83R\xc9\xff+\xc55D\xb9c\xf1m\xf3\xe6\x94\x81 F9j`\x02\xcc\xb1\x86\x03"\x97\xe3\xfe\xd4\x07NK:\xcf\xd2)\nJl\x1b~\x05\xc9\xeb#\xf7Bs\xf7\xacx\x18ks\x8fa\x02\x03\x01\x00\x01\xa3\x82\x04\x0e0\x82\x04\n0\x1d\x06\x03U\x1d\x0e\x04\x16\x04\x14\xa45\x98mtQ8WZ~MP\xde\x8fL$\xed\xaa\xa8\xe60\x1f\x06\x03U\x1d#\x04\x180\x16\x80\x14\xc6\xfd\xf8\xc3\x0c\xf7$"Lg\xf5D\x9f;Y\x9a7S\xefV0\x0b\x06\x03U\x1d\x0f\x04\x04\x03\x02\x07\x800\x16\x06\x03U\x1d%\x01\x01\xff\x04\x0c0\n\x06\x08+\x06\x01\x05\x05\x07\x03\x030{\x06\x03U\x1d\x1f\x04t0r0\x1a\xa0\x18\xa0\x16\x86\x14http://localhost/crl0/\xa0-\xa0+\xa4)0\'1\x100\x0e\x06\x03U\x04\n\x0c\x07Company1\x130\x11\x06\x03U\x04\x03\x0c\nExample <http://localhost/crl0/%5Cxa0-%5Cxa0+%5Cxa4)0%5C'1%5Cx100%5Cx0e%5Cx06%5Cx03U%5Cx04%5Cn%5Cx0c%5Cx07Company1%5Cx130%5Cx11%5Cx06%5Cx03U%5Cx04%5Cx03%5Cx0c%5CnExample> CA0#\xa0!\xa1\x1f0\r\x06\x03U\x04\x03\x0c\x06CRL DP0\x0e\x06\x03U\x04\n\x0c\x07Company0\x7f\x06\x03U\x1d.\x04x0v0\x1c\xa0\x1a\xa0\x18\x86\x16http://localhost/delta0/\xa0-\xa0+\xa4)0\'1\x100\x0e\x06\x03U\x04\n\x0c\x07Company1\x130\x11\x06\x03U\x04\x03\x0c\nExample <http://localhost/delta0/%5Cxa0-%5Cxa0+%5Cxa4)0%5C'1%5Cx100%5Cx0e%5Cx06%5Cx03U%5Cx04%5Cn%5Cx0c%5Cx07Company1%5Cx130%5Cx11%5Cx06%5Cx03U%5Cx04%5Cx03%5Cx0c%5CnExample> CA0%\xa0#\xa1!0\x0e\x06\x03U\x04\n\x0c\x07Company0\x0f\x06\x03U\x04\x03\x0c\x08Delta ***@***.******@***.******@***.******@***.***\x81\xf3\x06\x03U\x1d \x04\x81\xeb0\x81\xe80\x0e\x06\x0c+\x06\x01\x04\x01\xb0-\x05\x01\x01\x01\x000S\x06\x0c+\x06\x01\x04\x01\xb0-\x05\x01\x01\x01\x010C0 \x06\x08+\x06\x01\x05\x05\x07\x02\x01\x16\x14http://localhost/csp0\x1f\x06\x08+\x06\x01\x05\x05\x07\x02\x020\x130\x0b\x0c\x04org10\x03\x02\x01\x01\x0c\x04txt10 <http://localhost/csp0%5Cx1f%5Cx06%5Cx08+%5Cx06%5Cx01%5Cx05%5Cx05%5Cx07%5Cx02%5Cx020%5Cx130%5Cx0b%5Cx0c%5Cx04org10%5Cx03%5Cx02%5Cx01%5Cx01%5Cx0c%5Cx04txt10>.\x06\x0c+\x06\x01\x04\x01\xb0-\x05\x01\x01\x01\x020\x1e0\x1c\x06\x08+\x06\x01\x05\x05\x07\x02\x020\x100\x08\x0c\x04org20\x00\x0c\x04txt20$\x06\x0c+\x06\x01\x04\x01\xb0-\x05\x01\x01\x01\x030\x140\x12\x06\x08+\x06\x01\x05\x05\x07\x02\x020\x06\x0c\x04txt30+\x06\x0c+\x06\x01\x04\x01\xb0-\x05\x01\x01\x01\x040\x1b0\x19\x06\x08+\x06\x01\x05\x05\x07\x02\x020\r0\x0b\x0c\x04org40\x03\x02\x01\x040\x12\x06\t+\x06\x01\x05\x05\x070\x01\x05\x01\x01\xff\x04\x02\x05\x000)\x06\t+\x06\x01\x04\x01\x827\x19\x02\x04\x1c0\x1a\xa0\x18\x06\n+\x06\x01\x04\x01\x827\x19\x02\x01\xa0\n\x04\x08S-1-5-470R\x06\x08+\x06\x01\x05\x05\x07\x01\x01\x04F0D0!\x06\x08+\x06\x01\x05\x05\x070\x01\x86\x15http://localhost/ocsp0\x1f\x06\x08+\x06\x01\x05\x05\x070\x02\x86\x13http://localhost/ca0\r\x06\t*\x86H\x86\xf7\r\x01\x01\x0b\x05\x00\x03\x82\x01\x81\x00\x81\x1e <http://localhost/ocsp0%5Cx1f%5Cx06%5Cx08+%5Cx06%5Cx01%5Cx05%5Cx05%5Cx070%5Cx02%5Cx86%5Cx13http://localhost/ca0%5Cr%5Cx06%5Ct*%5Cx86H%5Cx86%5Cxf7%5Cr%5Cx01%5Cx01%5Cx0b%5Cx05%5Cx00%5Cx03%5Cx82%5Cx01%5Cx81%5Cx00%5Cx81%5Cx1e>>\x8b\xad\xde/\xf6\x06H\xe7\xe4\x18sYT\x96\xe7\xb3\xb5\x1d\x87\xcd\x96\x8b\x04`\x02\r\xca\xd6_s\x1b\x18\xc2U\x03^\xbd\xc6\x83\x16y?\xd9oY1\x99Tvm\xe0\xfd\xa4\xb3\xa1HP=\xe4,\xee\xe8-\xd3\x9bP`\xa6\xa5\x99\x11\xe0e\xe9\xa1\xc4\xbd\xf3t\x90(9\x8c\xb2J\xb9\xb0\xf0\xf0\xed\xfb\xf4}S%\xccUE\x97tj\xcd8F\x8e\xf4\x14\xb3\x04\xd3D\'\'\x0f\xe1\x82T\xd9\r\x88Y12e\xff\xac\xdf&\x01hZ\xfa\\@\xb6C:\xcc\xc5\xc4\xff\x7f\x94\xfb\xd9lM\x964\x95\x03<\x14\xc2\xf5\xa0\xbe\xf5\x86\xb3Xl\xe7\x02\xffW\x1b\xae\n\x9a\xac\x8a\xe2\x9bt\x9a\x98\xe5\xbd\x82\xb41\xbf1\xf6\xd6\x0b\xd8\xee\xc8A)$\xcf\x063U\x19\xe47\x1e@\xf4M\x83\xc6\xf9\xfc\x1e\xbd\x04"0M\xb8\xaa\x19\xf8\xaf\xee\xe7\x87\x07\xef\\\x8ee\xf8{;\xcf\xb1\r\xf4%\xda\xf2\xb4z\xdd\xad\xd7\x1f\xe9\xaaD\xf9\xe2\xe7n\x05P\x0e.\t\xf0\xcd\x9c{\x9c\xe1\xac\xf8\r\xb9n\xe4\x94\xf7\x13\xee\x9f9\x12\xe7y\xa7\xa7\xe3b\xf9b}K\x1a\xaf\x94\x8d<\'\x0f\x020\xf6\xe8\xcf\xa8k\x8a\xef\x0c-X\xc4jyU\xb2K\xe1~\xe6\xf7\x9d}g\xfesQS\xa7@\xe3\xbe\x8duH\xf6.\xc9\xb3L\xa0\xb0\x01\xcfl\xfd\xb0|&\x87\xfdA\n\xdf\xf1N\xde\xc6\x80\x94\x94`\x8aF\xef\x87\xf2\x00qX:x\xf9\xb5\xe1\xae\xc7\xcc9\xb5\xad\xa4\x95Y<fq\x965')
> ext = cert.extensions.get_extension_for_oid(ExtensionOID.CRL_DISTRIBUTION_POINTS).value
> for e in ext:
>     if e.relative_name is not None:
>         print(e.relative_name)
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/pyca/cryptography/issues/8930>, or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAAAGBHJGUGLI3EHLU2XDQDXGKEP3ANCNFSM6AAAAAAYCVPXIM>
> .
> You are receiving this because you are subscribed to this thread.Message
> ID: ***@***.***>
>


Yeah, we just convert it to list internally anyway. PR incoming.

Is it normal de '+' separator between the Names ?

Inside a certificate this is all encoded via ASN.1 so talking about the separator between fields only makes sense in the context of a non-ASN.1 serialization. Multi-valued RDNs serialized to string via RFC 4514 are indeed separated by a `+` (see [RFC 4514 section 2.2](https://www.rfc-editor.org/rfc/rfc4514#section-2.2).

fixed in https://github.com/pyca/cryptography/pull/8931

Regarding this paragraph:
```
Where there is a multi-valued RDN, the outputs from adjoining
   AttributeTypeAndValues are separated by a plus sign ('+' U+002B)
   character.
```

My undestanding is that a multi-value RDN is when you have the same RDN present more than once.
Example: when you have 2 common names (`CN=name1, CN=name2,O=Company`)

So, maybe the RFC4514 string should be `CN=name1+CN=name2,O=Company` ?

I have no idea, indeed :)

An RDN is defined (all ASN.1 definitions taken from RFC 5280) as

```
   RelativeDistinguishedName ::=
     SET SIZE (1..MAX) OF AttributeTypeAndValue
   AttributeTypeAndValue ::= SEQUENCE {
     type     AttributeType,
     value    AttributeValue }
   AttributeType ::= OBJECT IDENTIFIER
   AttributeValue ::= ANY -- DEFINED BY AttributeType
```

X.509 subject/issuer DNs have the following definition:

```
   Name ::= CHOICE { -- only one possibility for now --
     rdnSequence  RDNSequence }

   RDNSequence ::= SEQUENCE OF RelativeDistinguishedName
```

Which ends up looking something like this:

```
      SET {
        SEQUENCE {
          # countryName
          OBJECT_IDENTIFIER { 2.5.4.6 }
          PrintableString { "FR" }
        }
      }
      SET {
        SEQUENCE {
          # organizationName
          OBJECT_IDENTIFIER { 2.5.4.10 }
          UTF8String { "Company" }
        }
      }
```

This is a sequence of RDNs where each RDN has one value and there are `n` of them making up the full name. However, for crlDistributionPoints the definition is a single RDN
```
   DistributionPoint ::= SEQUENCE {
        distributionPoint       [0]     DistributionPointName OPTIONAL,
        reasons                 [1]     ReasonFlags OPTIONAL,
        cRLIssuer               [2]     GeneralNames OPTIONAL }

   DistributionPointName ::= CHOICE {
        fullName                [0]     GeneralNames,
        nameRelativeToCRLIssuer [1]     RelativeDistinguishedName }
```

with a single RDN if you want more than one value it must definitionally be multi-valued, so when serialized using rfc4514 rules it will have a `+`.

When you have multiple components at the SET level, order doesn't matter. So, "O=abc+OU=def" should be the same as "OU=def+O=abc". However, doing the same thing at the SEQUENCE level, that's not the case. There, "O=abc,OU=def" is considered different from "OU=def,O=abc". Note the '+' vs. ',' there.

Related to that point, DER encoding of sets specifies that they must be encoded in lexicographic order of the encoded members. So, if you're looking for a consistent ordering when iterating over the SET level of an RDN, it would probably make sense to return them in that sorted order (which would just be a matter of sorting the encoded versions of them when you created the iteration). If you enforce this ordering requirement when you build a new RDN and when you do the decoding of the DER version of one, you could even just use that ordered list as what you iterate over, instead of putting them into a Python set(), where there's no guaranteed ordering. Passing in such a set when constructing an RDN would still be ok, but you'd need to sort it at some point to make sure the ASN.1 you output is compliant.