x509 loading a certificate causes an error when trying to parse an extension

I was trying to load an Intel fTPM Endorsement Key certificate using x509.load_pem_certificate and got this error:
`ValueError: error parsing asn1 value: ParseError { kind: EncodedDefault, location: ["Certificate::tbs_cert", "TbsCertificate::raw_extensions", 3, "Extension::critical"] }`

The certificate in question:
```MIIE0jCCBHigAwIBAgIUPUwBoi+oYG+5/mMIRsH3+nINWCUwCgYIKoZIzj0EAwIwgZ4xCzAJBgNVBAYMAlVTMQswCQYDVQQIDAJDQTEUMBIGA1UEBwwLU2FudGEgQ2xhcmExGjAYBgNVBAoMEUludGVsIENvcnBvcmF0aW9uMTgwNgYDVQQLDC9UUE0gRUsgaW50ZXJtZWRpYXRlIGZvciBJQ0xfRVBJRF9QUk9EX1BSUSBwaWQ6ODEWMBQGA1UEAwwNd3d3LmludGVsLmNvbTAeFw0yMDA5MDEwMDAwMDBaFw00OTEyMzEyMzU5NTlaMAAwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDS+WLDWh3NlBygTmP91Wr6UgxV38dRDFf1+DwafFAKFeMfctuqvrxur8C9jTIDGeZi22F7z8gcw7JQIsqvZ/1kjtRArAGQcJHGKTBV98xp/aUDr0eS30w74CyF8hZnsB3ARKWbuJmy1Zkp4ncsCz/Wqfpk74tKcGgzOFfig30F7WSLWot/LCmybIYlEh1KlPbDSMnMdS/x2myG7T5ZuSsDFx3XWQrEUSY5gtP6gFdI0QhA8Y+sslKgy+z0KlGKAMblrBi4i0hsLdHN2damzn71d+ihabFkCY2+/05vKRTmgTEug4tROz9O5mObd1TEebP1KD7FcsnWY6Ql4HpYqQcXAgMBAAGjggJkMIICYDAPBgNVHRMBAf8EBTADAQEAMA4GA1UdDwEB/wQEAwIFIDAQBgNVHSUECTAHBgVngQUIATAkBgNVHQkBAQAEGjAYMBYGBWeBBQIQMQ0wCwwDMi4wAgEAAgFnMFAGA1UdEQEB/wRGMESkQjBAMRYwFAYFZ4EFAgEMC2lkOjQ5NEU1NDQzMQ4wDAYFZ4EFAgIMA0lDTDEWMBQGBWeBBQIDDAtpZDowMDAyMDAwMDAfBgNVHSMEGDAWgBTnCD8iFSp0kuxZsMQkNDdkixXbtzBiBgNVHR8EWzBZMFegVaBThlFodHRwczovL3RydXN0ZWRzZXJ2aWNlcy5pbnRlbC5jb20vY29udGVudC9DUkwvZWtjZXJ0L0lDTEVQSURQUk9EUFJRX0VLX0RldmljZS5jcmwwegYIKwYBBQUHAQEEbjBsMGoGCCsGAQUFBzAChl5odHRwczovL3RydXN0ZWRzZXJ2aWNlcy5pbnRlbC5jb20vY29udGVudC9DUkwvZWtjZXJ0L0lDTEVQSURQUk9EUFJRX0VLX1BsYXRmb3JtX1B1YmxpY19LZXkuY2VyMIGxBgNVHSAEgakwgaYwgaMGCiqGSIb4TQEFAgEwgZQwWgYIKwYBBQUHAgEWTmh0dHBzOi8vdHJ1c3RlZHNlcnZpY2VzLmludGVsLmNvbS9jb250ZW50L0NSTC9la2NlcnQvRUtjZXJ0UG9saWN5U3RhdGVtZW50LnBkZjA2BggrBgEFBQcCAjAqDChUQ1BBIFRydXN0ZWQgUGxhdGZvcm0gTW9kdWxlIEVuZG9yc2VtZW50MAoGCCqGSM49BAMCA0gAMEUCIH8UCJQX3pFo4Zqi+edl3BwScXjcE3RQ1/VLPwa+ZMDmAiEAo1ST6VR6b6M2K6EwjHg6cAaakC+en4ulVtn2vpb+M3g=```

Openssl shows that there are some formatting problems with Subject Directory Attributes, but that's about it.

DER prohibits encoding any default values. In this case the `critical` field of an extension is `BOOLEAN DEFAULT FALSE` (RFC 5280 Section 4.1). The error indicates that the `DEFAULT FALSE` is encoded in the value.

In short, it sounds like intel has issued an invalid certificate.

Hmm, that's unfortunate. I still do need to parse the certificate, even if it has an invalid extension. Is there a way for parsing to not just stop when it encounters an error such as this?

Is support for parsing of invalid certificates as was possible using pyOpenSSL planned?

No

On Sun, Mar 23, 2025, 9:15 AM gerasiovM ***@***.***> wrote:

> Is support for parsing of invalid certificates as was possible using
> pyOpenSSL planned?
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/pyca/cryptography/issues/12665#issuecomment-2746293545>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAAAGBGCQK6VJNVXM7272VT2V3FZ3AVCNFSM6AAAAABZSKDSF2VHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHMZDONBWGI4TGNJUGU>
> .
> You are receiving this because you commented.Message ID:
> ***@***.***>
> [image: gerasiovM]*gerasiovM* left a comment (pyca/cryptography#12665)
> <https://github.com/pyca/cryptography/issues/12665#issuecomment-2746293545>
>
> Is support for parsing of invalid certificates as was possible using
> pyOpenSSL planned?
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/pyca/cryptography/issues/12665#issuecomment-2746293545>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAAAGBGCQK6VJNVXM7272VT2V3FZ3AVCNFSM6AAAAABZSKDSF2VHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHMZDONBWGI4TGNJUGU>
> .
> You are receiving this because you commented.Message ID:
> ***@***.***>
>
