Support CRL extensions

Right now we support extensions on revoked certificates within the CRL, but ignore all top level CRL extensions. A list is available in section 5.2 of RFC 5280 (https://tools.ietf.org/html/rfc5280#section-5.2)