X.509 - OCSP Documentation uses SHA1

The documentation for creating OCSP requests and responses uses SHA1 as Hashalgorithm and states that RFC 5019 mandates the use of SHA1.

While yes, RFC 5019 mandates SHA1 - RFC5019 is not the newest RFC for OCSP.
The newest RFC for OCSP is RFC 6960: https://tools.ietf.org/html/rfc6960.html

Which states under 4.3 that SHA256 is mandatory and SHA1 SHOULD also be supported.

_Clients that request OCSP services SHALL be capable of processing
responses signed using RSA with SHA-256 (identified by the
sha256WithRSAEncryption OID specified in [RFC4055]).  Clients SHOULD
also be capable of processing responses signed using RSA with SHA-1
(identified by the sha1WithRSAEncryption OID specified in [RFC3279])
and the Digital Signature Algorithm (DSA) with SHA-1 (identified by
the id-dsa-with-sha1 OID specified in [RFC3279]).  Clients MAY
support other algorithms._

-----------
Having SHA1 used in the documentation and stated to be mandatory could lead to unnecessary use of insecure SHA1 over SHA256 in this scenario.

https://cryptography.io/en/latest/x509/ocsp.html#creating-requests
https://cryptography.io/en/latest/x509/ocsp.html#creating-responses