Add ChaCha20Poly1305 AEAD Construction

Let's go ahead and implement ChaCha20Poly1305. This is going to be the AEAD construct found in  [RFC 7539 Section 2.8](https://tools.ietf.org/html/rfc7539#section-2.8) **only**.

Where should this live in our source tree? It's very similar to Fernet (but with AAD!). However, it would be hard to explain the benefits/drawbacks between Fernet/ChaCha20Poly1305 so I'm not sure it should live in recipes.

If we create a new `cryptography.hazmat.primitives.ciphers.ae` module (`ae` for authenticated encryption, although maybe we should just call it `authenticated_encryption`?) then we could put it there, although it pains me to call this hazmat when it's actually going to be on par with the safest construct we have.

My proposal is an `aead` module, in `hazmat`.

So that'd be `cryptography.hazmat.aead`? Do we want to call it AEAD when we might hypothetically implement something that does authenticated encryption sans additional data? I can't think of an example of that outside of a composition like Fernet right now though.

Sorry, no, `hazmat.primitives.ciphers.aead`.

On Sun, Jun 4, 2017 at 12:16 PM, Paul Kehrer <notifications@github.com>
wrote:

> So that'd be cryptography.hazmat.aead? Do we want to call it AEAD when we
> might hypothetically implement something that does authenticated encryption
> sans additional data? I can't think of an example of that outside of a
> composition like Fernet right now though.
>
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub
> <https://github.com/pyca/cryptography/issues/3667#issuecomment-306049929>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AAADBC9TKuBMIS1A4AHVXONArtykutZoks5sAthTgaJpZM4NvRdw>
> .
>



-- 
"I disapprove of what you say, but I will defend to the death your right to
say it." -- Evelyn Beatrice Hall (summarizing Voltaire)
"The people's good is the highest law." -- Cicero
GPG Key fingerprint: D1B3 ADC0 E023 8CA6
